.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.login-card {
  width: 400px;
  padding: 20px;
}

.input-container {
  margin-bottom: 20px;
}

.full-width {
  width: 100%;
}

.error-message {
  color: red;
  margin-top: 10px;
}